*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

table{
  margin: 4px;
  padding: 15px;
  border: 2px solid #000;
}

.student-form{
  margin:34px;
  padding: 20px;
  width: 40%;
  display: grid;
  grid-gap: 8px;
}

.mentor-form{
  margin:34px;
  padding: 20px;
  width: 40%;
  display: grid;
  grid-gap: 8px;
}

.link{
  text-decoration: none;
  color: #161616;
}